books filter=lfs diff=lfs merge=lfs -text
k.html filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
index.html filter=lfs diff=lfs merge=lfs -text
inspect_kindle.py filter=lfs diff=lfs merge=lfs -text
reader.css filter=lfs diff=lfs merge=lfs -text
reader.js filter=lfs diff=lfs merge=lfs -text
Booksync-main.zip filter=lfs diff=lfs merge=lfs -text
Booksync.zip filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
linuxcommands.txt filter=lfs diff=lfs merge=lfs -text
package.sh filter=lfs diff=lfs merge=lfs -text
temp.txt filter=lfs diff=lfs merge=lfs -text
